@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Shalimar&family=Yuji+Syuku&display=swap");
.nav-details {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navItem {
  padding: 10px 10px;
  text-decoration: none;
  color: #09ffe6;
  font-family: "Yuji Syuku", serif;
  font-weight: 700;
  font-size: 18px;
}
.ActiveNavItem {
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2px solid white;
}

span {
  margin: 0;
}

@media only screen and (min-width: 426px) {
  .navItem {
    padding: 10px 10px;
    text-decoration: none;
    color: #09ffe6;
    font-family: "Yuji Syuku", serif;
    font-weight: 700;
    font-size: 18px;
  }
  .ActiveNavItem:hover {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    
  }
  .navItem:hover {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-family: "Yuji Syuku", serif;
    font-weight: 700;
    font-size: 18px;
  }
}
